@if (TempData["MensajeLogin"] != null)
{
    <div class="alert alert-success">
        @TempData["MensajeLogin"]
    </div>
}

@{
    ViewData["Title"] = "Bienvenido";
    var nombre = Context.Session.GetString("NombreUsuario");
    var esAdmin = Context.Session.GetString("EsAdmin");
}
    <h2 class="titulo">¡Bienvenido @nombre!</h2>

@if (esAdmin == "true")
{
    <p class="subtHome"><strong>Sos administrador.</strong> Podés gestionar los usuarios, pedidos y más.</p>
}
else
 {
        <p class="subtHome">Gracias por usar Club de la Hamburguesa. ¡Elegí tu hamburguesa favorita!</p>
    
        <div class="boton">
            <a class="btn btn-primary" asp-controller="Pedido" asp-action="Create">Hace un nuevo pedido</a>
            <a class="btn btn-primary" asp-controller="Pedido" asp-action="Historial" >Historial de pedidos</a>
        </div>

 }


