@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">El club de la Hamburguesa</h1>
    <h1 class="display-4">BIENVENIDO</h1>

</div>

<div class="hs">
    <div class="horarios">
        <p>Horario de atención: Lunes a Domingo de 19:00 a 00:00 horas</p>
    </div>

    
    
    
    // AQUI VAN LAS REDES SOCIALES CON SUS LOGOS 


    <div class="redes">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
    </div>
</div>


